button {
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    border: none;
    margin: 0;
    border-radius: 8px;
    padding: 16px 64px;
    color: #fff;
    background-color: #174D17;
}